/* Connection modal */
#modal-connect {
  height: 50%;
  margin: auto;
  padding: 0 !important;
  height: fit-content !important;
}

.modal-footer {
  display: block !important;
}

.wallet-icon-walletconnect {
  width: 30px;
  margin-right: 8%;
}

.wallet-text-walletconnect {
  margin: 5% 0 0 0;
}

.wallet-icon-metamask {
  width: 30px;
  margin-right: 8%;
}

.wallet-text-metamask {
  margin: 5% 0 0 0;
}

#info-tab:hover {
  cursor: pointer;
}

.web3-cloud-metamask-provider {
  display: none;
}

.web3-cloud-invalid {
  color: red;
}
  
/* Tablet styling */
@media only screen and (min-width: 768px) {
  #modal-connect {
    width: 40%;
  }
}

/* Desktop styling */
@media only screen and (min-width: 1024px) {
  #modal-connect {
    width: 30%;
  }

  .web3-cloud-metamask-provider {
    display: inherit;
  }
}

/* Desktop Large styling */
@media only screen and (min-width: 1440px) {
}