.web3-cloud-connection-button {
    font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
    border: 0;
    border-radius: 3em;
    cursor: pointer;
    display: inline-block;
    line-height: 1;
}

.web3-cloud-connection-button:disabled {
  background-color: gray !important;
}
.web3-cloud-connection-button--primary {
  color: white;
  background-color: #1ea7fd;
}
.web3-cloud-connection-button--secondary {
  color: #333;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.web3-cloud-15) 0px 0px 0px 1px inset;
}
.web3-cloud-connection-button--small {
  font-size: 12px;
  padding: 10px 16px;
}
.web3-cloud-connection-button--medium {
  font-size: 14px;
  padding: 11px 20px;
}
.web3-cloud-connection-button--large {
  font-size: 16px;
  padding: 12px 24px;
}

.web3-cloud-invalid {
  color: red !important;
}

.web3-cloud-sign-in-container {
  width: 60%;
  margin: auto;
  box-shadow: 0px 2px 2px rgb(0 0 0 / 30%);
  padding: 5%;
  text-align: center;
}

.web3-cloud-email{
  margin-bottom: 10%;
  margin-top: 10%;
}

.web3-cloud-policies-container {
  margin-top: 10%;
  font-size: 11px;
}

.web3-cloud-profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.web3-cloud-signin-toggle {
  margin-top: 2%;
  text-decoration: underline;
  color: #1ea7fd;
}

.web3-cloud-dapp-name {
  color: black;
}

.web3-cloud-verifyinglabel {
  color: black;
}

.web3-cloud-signin-toggle:hover {
  cursor: pointer;
}
  
/* Tablet styling */
@media only screen and (min-width: 768px) {
  .web3-cloud-sign-in-container {
      width: 50%;
  }
}

/* Desktop styling */
@media only screen and (min-width: 1024px) {
  .web3-cloud-sign-in-container {
      width: 40%;
  }
}

/* Desktop Large styling */
@media only screen and (min-width: 1440px) {
  .web3-cloud-sign-in-container {
      width: 30%;
  }
}